@import url("../../static/fonts/noto_cjk_jp.css");
@import url("../../static/fonts/Source_Sans_Pro/source_sans.css");
@import url("../../static/fonts/Source_Code_Pro/source_code.css");
@import url("../../static/fonts/font-awesome.min.css");

// Variables

$font-family: "Source Sans Pro", "Noto Sans CJK JP", Arial, sans-serif;
$monospace-family: "Source Code Pro", monospace;
$heading-family: "Source Sans Pro", Arial, sans-serif;
$font-size: 15px;

// Mixins

@mixin webfont($face, $weight) {
    font-family: $face;
    font-weight: $weight;
}
