{% extends "/templates/page.jinja2" %}

{% block title %}Preview of {{ path }}{% endblock %}\

{% block bodyclass -%}
    {{ docroot.attrs.display if docroot.attrs }}
    notoc
{%- endblock %}

{% block navbar %}{% endblock %}

{% block main %}
    <main class="preview">
        <div id="content" class="sizing">
{{ render_styles(docroot) }}
        </div>
    </main>
{% endblock %}
