{% macro print_attributes(block) -%}
    {%- if block.attrs -%}
    {%- for key, value in block.attrs.items() %}
        {%- set v = rel(string(value)) if (key == "href" or key == "src") else string(value) -%}
        {{ key }}="{{ string(value) | escape }}"
    {%- endfor -%}
    {%- endif -%}
{%- endmacro %}

{% macro print_icon(val, cls='', title='', width='', height='') -%}
    {{- print_image(rel(icon_ref(val)), cls, title, width, height) -}}
{%- endmacro %}

{% macro print_hit_link(hit, show_icon=True, show_type=True) %}
    <a href="{{ rel(hit.path, ".html") }}" class="{{ hit.type }}">
        {%- if show_icon and hit.icon -%}
        <img src="{{ rel("/icons/" + hit.icon + ".svg") }}" />
        {%- endif -%}
        {{ hit.title }}
{#        {% if show_type and hit.type %}#}
{#            <small>{{ type_desc(hit.path, hit.type, hit.context) }}</small>#}
{#        {% endif %}#}
    </a>
{% endmacro %}

{% macro print_hit_box(hit, show_icon=True, show_type=True) %}
    <p class="hitbox {% if show_icon %}withicon{% endif %}">
        {{ print_hit_link(hit, show_icon=show_icon, show_type=show_type) }}
    </p>
{% endmacro %}

{% macro print_meta_row(label, content=None, cls='', cond=(), glyph=None) %}
    {% if cond == () or ((cond != ()) and cond) or content %}
        <tr>
            <td class="label {{ cls }}">
                {% if glyph %}<i class="fa {{ glyph }}"></i>{% endif %}
                {{ label }}
            </td>
            <td class="content">
                {% if content != None %}
                    {{ content }}
                {% else %}
                    {{ caller() }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro print_image(href, cls='', title='', width='', height='') -%}
    <img src="{{ href }}"
         {% if cls %}class="{{ cls }}"{% endif %}
         {% if title %}title="{{ title }}"{% endif %}
         {% if width or height %}width="{{ width }}" height="{{ height }}"{% endif %}
    />
{%- endmacro %}

{% macro print_page_toc(blocks, render) %}
    <ul class="content">
        {% for block in blocks %}
            {% set cls = "collapsible collapsed" if block.body %}
            <li class="miniheading {{ cls }} {% if block.attrs %}{{ block.attrs.status }}{% endif %}">
                <p class="label {% if block.role == "section" %}section{% endif %}">
                    <a href="#{{ block_id(block) }}">{{- render(block.text) -}}</a>
                </p>
                {% if block.body %}
                    {{ print_page_toc(block.body, render) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro print_billboard(imagesrc, height=None, style="") %}
    {% set height = height or "20vh" %}
    <div class="billboard" style="background-image: url('{{ imagesrc }}'); height: {{ height }}; {{ style }}">
        <div class="body">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}
