<span class="markup_closeBtn glyphicon glyphicon-remove"></span>
<ul class="nav nav-pills nav-stacked markup_navPills col-lg-2 col-md-2 col-sm-2 col-xs-4">
    <li role="presentation" class="active"><a href="#markup_tab_quickStart" data-toggle="tab">Quick Start</a></li>
    <li role="presentation"><a href="#markup_tab_title" data-toggle="tab">Title and Headings</a></li>
    <li role="presentation"><a href="#markup_tab_properties" data-toggle="tab">Properties</a></li>
    <li role="presentation"><a href="#markup_tab_lists" data-toggle="tab">Lists</a></li>
    <li role="presentation"><a href="#markup_tab_text" data-toggle="tab">Text</a></li>
    <li role="presentation"><a href="#markup_tab_notices" data-toggle="tab">Notices</a></li>
    <li role="presentation"><a href="#markup_tab_icons" data-toggle="tab">Icons</a></li>
    <li role="presentation"><a href="#markup_tab_mediaLinksIncludes" data-toggle="tab">Media, links and Includes</a></li>
    <li role="presentation"><a href="#markup_tab_tables" data-toggle="tab">Tables</a></li>
    <li role="presentation"><a href="#markup_tab_code" data-toggle="tab">HTML and Code</a></li>
    <li role="presentation"><a href="#markup_tab_organization" data-toggle="tab">Organization</a></li>
    <li role="presentation"><a href="#markup_tab_display" data-toggle="tab">Display Property</a></li>
    <li role="presentation"><a href="#markup_tab_atsign" data-toggle="tab">@-sign Sections</a></li>
    <li role="presentation"><a href="#markup_tab_search" data-toggle="tab">Searches</a></li>
    <li role="presentation"><a href="#markup_tab_inheritance" data-toggle="tab">Parents and Subtopics</a></li>
</ul>

<div class="markup_tabContent tab-content col-lg-10 col-md-10 col-sm-10 col-xs-8">
    <div class="tab-pane active" id="markup_tab_quickStart">
        <p>Large Heading: <code>= Large Heading =</code></p>
        <p>Medium Heading: <code>== Medium Heading ==</code></p>
        <p>Small Heading: <code>=== Small Heading ===</code></p>
        <p>Summary: <code>"""Sumary."""</code></p>
        <p>Paragraph: <code>Paragraph</code></p>
        <p>Bullet: <br><code>* Bullet one.</code><br>
            <code>* Bullet two</code><br>
            <code>&emsp;&emsp;Sub-paragraph of bullet two.</code></p>
        <p>Bold: <code>*bold*</code></p>
        <p>Italics: <code>_italics_</code></p>
        <p>Code: <code>`code`</code></p>
        <p>Single Line Comment: <code>// Comment herr</code></p>
        <p>Freeform Comment: <code>&lt;!--Comment here--&gt;</code></p>
    </div>
    <div class="tab-pane" id="markup_tab_title">
        <p>Title with Pre-title: <code>= Pre-title |> Title =</code></p>
        <p>Title with Sub-title: <code>= Title <| Sub-title =</code></p>
        <p>Both Pre-title and Sub-title: <code>= Pre-title |> title <| Sub-title =</code></p>
        <br>
        <p>Heading Level 2: <code>== Heading Level 2 ==</code></p>
        <p>Heading Level 3: <code>=== Heading Level 3 ===</code></p>
        <p>Heading Level 4: <code>==== Heading Level 4 ====</code></p>
        <p>Assign an ID to a heading: <br><code>== Heading ==</code><br><code>#id: someId</code><br>or: <code>== Heading == (someId)</code></p>
        <p>Indent the Content and Show Heading in Left Margin: <code>#display: pull left</code></p>
        <p>Hide the Heading: <code>#display: notitle</code></p>
    </div>
    <div class="tab-pane" id="markup_tab_properties">
        <p>Properties are used extensively to modify the rendering of blocks. The basic form of a property is: <code>#content:sop</code></p>
        <p>Properties indented under a block apply to that block.</p>
        <p>You can have multi-line values by indenting the value.</p>
        <code>#name:</code><br>
        <code>&emsp;&emsp;This is a multi-line</code><br>
        <code>&emsp;&emsp;property value.</code>
        <br>
        <h4>List of Page Properties</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>#icon: path</code></td>
                    <td>Path to a small image to represent this page.</td>
                </tr>
                <tr>
                    <td><code>#display</code></td>
                    <td>A space-separated list of display classes to apply to the page.<br> See <a href="/test#displayprop" class="link  missing ">display property</a>for
                        more. This feature is experimental and subject to change.</td>
                </tr>
                <tr>
                    <td><code>#redirect: path</code></td>
                    <td>When the help system goes to load tis page, redirect it to the given path.</td>
                </tr>
                <tr>
                    <td><code>#parent: path</code></td>
                    <td>See<a href="/test#parents" class="link  missing ">parents and subtopics</a>.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="markup_tab_lists">
        <p>Bullet Lists:</p>
        <code>* Bullet 1</code><br>
        <code>* Bullet 2</code>
        <p>Numbered Lists:</p>
        <code># Bullet 1</code><br>
        <code># Bullet 2</code>
        <p>Definition:</p>
        <code>Cat:</code><br>
        <code>&emsp;&emsp;A type of animal.</code>
        <p>Tasks:</p>
        <code>:task: Start a render:</code><br>
        <code>&emsp;&emsp;# Go to the Render view tab.</code><br>
        <code>&emsp;&emsp;# Click __Render__.</code>
    </div>
    <div class="tab-pane" id="markup_tab_text">
        <h4>Styles</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Markup</th>
                    <th>Rendering</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>*Bold*</code></td>
                    <td><strong>Bold</strong></td>
                </tr>
                <tr>
                    <td><code>_Italics_</code></td>
                    <td><i>Italics</i></td>
                </tr>
                <tr>
                    <td><code>Code</code></td>
                    <td>&lt;code&gt;Code&lt;/code&gt;</td>
                </tr>
                <tr>
                    <td><code>__UI__</code></td>
                    <td><strong>UI</strong></td>
                </tr>
                <tr>
                    <td><code>__File > Open__</code></td>
                    <td><strong>File ▸ Open</strong></td>
                </tr>
                <tr>
                    <td><code>&lt;&lt;variable&gt;&gt;</code></td>
                    <td>&lt;var&gt;varaible&lt;/var&gt;</td>
                </tr>
            </tbody>
        </table>
        <h4>Keys</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Markup</th>
                    <th>Rendering</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>((K))</code></td>
                    <td><kbd>K</kbd></td>
                </tr>
                <tr>
                    <td><code>((Shift))</code></td>
                    <td><kbd>Shift</kbd></td>
                </tr>
                <tr>
                    <td><code>((Shift+K))</code></td>
                    <td><kbd>Shift</kbd>+<kbd>K</kbd></td>
                </tr>
                <tr>
                    <td><code>((Alt))((Option))</code></td>
                    <td><kbd>Alt</kbd><kbd>Option</kbd></td>
                </tr>
                <tr>
                    <td><code>((Ctrl))((Cmd))</code></td>
                    <td><kbd>Ctrl</kbd><kbd>Cmd</kbd></td>
                </tr>
                <tr>
                    <td><code>((up))((down))((left))((right))</code></td>
                    <td><img src="img/up.svg" alt="up" /><img src="img/down.svg" alt="down" />
                        <img src="img/left.svg" alt="left" /><img src="img/right.svg" alt="up" /></td>
                </tr>
                <tr>
                    <td><code>((Tab))</code></td>
                    <td><kbd>Tab</kbd></td>
                </tr>
                <tr>
                    <td><code>((Del))</code></td>
                    <td><kbd>Del</kbd></td>
                </tr>
                <tr>
                    <td><code>((mouse))</code></td>
                    <td><img src="img/mouse.svg" alt="mouse"></td>
                </tr>
                <tr>
                    <td><code>((LMB))((MMB))((RMB))</code></td>
                    <td><img src="img/LMB.svg" alt="LMB"><img src="img/MMB.svg" alt="MMB"><img src="img/RMB.svg" alt="RMB"></td>
                </tr>
                <tr>
                    <td><code>((mouse_wheel))</code></td>
                    <td><img src="img/mouse_wheel.svg" alt="mouse_wheel"></td>
                </tr>
            </tbody>
        </table>
        <h4>Typography</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Markup</th>
                    <th>Replacement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Apostrophes and quotes</td>
                    <td>Curly quotes</td>
                </tr>
                <tr>
                    <td><code>&lt;-</code>and <code>-&gt;</code></td>
                    <td> ← and →</td>
                </tr>
                <tr>
                    <td><code>4x4</code></td>
                    <td>4×4</td>
                </tr>
                <tr>
                    <td><code>&lt;=</code>and <code>=&gt;</code></td>
                    <td> ≤ and ≥</td>
                </tr>
                <tr>
                    <td><code>(c)(tm)(r)</code></td>
                    <td>© ™ ®</td>
                </tr>
                <tr>
                    <td><code>...</code></td>
                    <td>…</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="markup_tab_notices">
        <h4>Tips and Notes</h4>
        <p>The capitalized TIP: syntax is meant to be visually noticeable for writers in a page of markup. It is equivalent
            to the following more standard markup:</p>
        <code>TIP:</code><br>
        <code>&emsp;&emsp;This is a tip.</code><br>
        <code>&emsp;&emsp;This is the second paragraph of the tip.</code><br>
        <code>NOTE:</code><br>
        <code>&emsp;&emsp;This is a note.</code><br>
        <code>WARNING:</code><br>
        <code>&emsp;&emsp;This is a warning.</code>
        <h4>Other notices</h4>
        <p>Houdini includes a few other types of notices. You can only use the standard item markup for these, they don’t have
            captialized equivalents.</p>
        <code>:new:</code><br>
        <code>&emsp;&emsp;Something new.</code><br>
        <code>:improved:</code><br>
        <code>&emsp;&emsp;Something got faster.</code><br>
        <code>:changed:</code><br>
        <code>&emsp;&emsp;Something changed.</code><br>
        <code>:dev:</code><br>
        <code>&emsp;&emsp;Something for developers.</code><br>
        <code>:fixed:</code><br>
        <code>&emsp;&emsp;Something was fixed.</code><br>
        <code>:bug:</code><br>
        <code>&emsp;&emsp;Somethign isn't fixed yet.</code>
        <h4>Platform</h4>
        <p>This is waht's up on Mac. <code>:platform:Mac</code><br></p>
        <p>This is the 411 on windows. <code>:platform:Windows</code><br></p>
        <p>This is what's going down on Linux.<code>:platform:Linux</code></p>
    </div>
    <div class="tab-pane" id="markup_tab_icons">
        <p>Small Icon (SOP/copy):<code>[Smallicon:SOP/copy]</code></p>
        <p>medium Icon (SOP/copy):<code>[Icon:SOP/copy]</code></p>
        <p>Large Icon (SOP/copy):<code>[Largeicon:SOP/copy]</code></p>
        <p>You can also icons from the <a href="http://https://fortawesome.github.io/Font-Awesome/icons/">Font Awesome</a> icon
            font in your pages.</p>
        <p>Headings, bullets, definitions, notices, table cells, and tabs can have custom glyphs using the <code>#glyph: property</code>.</p>
        <code>Remember to bring a brolly.</code><br>
        <code>&emsp;&emsp;#glyph: fa-umbrella</code>
        <p>You can embed a Font Awesome glyph (for example, a rocket) in text: <code>+(fa-rocket)</code></p>
        <p>You can use other font-awesome CSS classes in the #glyph property, such as <code>fa-spin</code>.</p>
    </div>
    <div class="tab-pane" id="markup_tab_mediaLinksIncludes">
        <h4>Links</h4>
        <p>Link to Wiki: <code>[Link text|/path/to/page]</code></p>
        <p>Link to Web Page: <code>[Link text|http://sidefx.com/]</code></p>
        <p>Link within the Page:</p>
        <ul>
            <li>First give a heading or other block an ID: <code>== Heading to link to == (linktome)</code></li>
            <li>Then to link to it on the same page: <code>[go there|#linktome]</code></li>
            <li>Or, from another page: <code>[go there|/path/to/page#linktome]</code></li>
        </ul>
        <h4>Shortcuts</h4>
        <p>Link to Node: <code>[Node:sop/copy]</code></p>
        <p>Link to Expression Function: <code>[Exp:turb]</code></p>
        <p>Link to VEX Function: <code>[Vex:bumpmap]</code></p>
        <p>Link to Mantra Property: <code>[Mantra:vm_rmbackface]</code></p>
        <p>Link to HOM Module/Class: <code>[Hom:hou.Node]</code></p>
        <p>Link to HOM Method/Function: <code>[Hom:hou.Node#name]</code></p>
        <p>Link to Wiipedia: <code>[Houdini|Wp:Harry_Houdini]</code></p>
        <p>Link to HScript Command: <code>[Cmd:alias]</code></p>
        <h4>Media</h4>
        <p>Insert Image: <code>[Image:/path/to/image]</code></p>
        <p>Insert Vimeo Video: </p>
        <code>:vimeo: Video title</code><br>
        <code>&emsp;&emsp;#id: 84058031</code>
        <p>You can generate charts and graphs on the page using the FLOT library. See that page for information on the options
            and data format.
        </p>
        <code>:chart:</code><br>
        <code>&emsp;&emsp;#left: truth</code><br>
        <code>&emsp;&emsp;#bottom: height</code><br>
        <code>&emsp;&emsp;#options:</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;{</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"xaxis": {"ticks": [0, 50, 100, 150, 180, 200, 250]},</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;"yaxis": {"ticks": [0, 0.5, 1]}</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;}</code><br>
        <code>&emsp;&emsp;#data: [ {"data": [ [0, 0], [179, 0], [180, 1], [250, 1] ]} ]</code>
        <ul>
            <li>left: A label for the chart’s left (vertical) axis.</li>
            <li>bottom: A label for the chart’s bottom (horizontal) axis.</li>
            <li>options: A JSON object, passed to the library.</li>
            <li>data: A JSON list, passed to the library.</li>
        </ul>
        <h4>Includes</h4>
        <p>To include the content of another file (the path can be absolute or relative to the current page): <code>[Include:path/to/file]</code></p>
        <p>To include only one block from another file, add a # and the ID of the block: <code>[Include:/path/to/file#blockid]</code></p>
        <p>To include only the <strong>contents</strong> of one block from another file, add a trailing slash after the ID:
            <code>[Include:/path/to/file#blockid/]</code></p>
    </div>
    <div class="tab-pane" id="markup_tab_tables">
        <h4>Simple Tables</h4>
        <p>The simple table markup handles most cases.</p>
        <p>Lines that end in a double vertical line <code>||</code> are <strong>heading cells</strong>. Lines that end in a
            single vertical line <code>|</code> are regular cells. Indented cells appear <strong>next</strong> to the parent.</p>
        <p>The main drawback of the simple markup is that only the last cell in a row can have multiple paragraphs.</p>
        <code>Column 1 ||</code><br>
        <code>&emsp;&emsp;column 2 ||</code><br>
        <code>First cell |</code><br>
        <code>&emsp;&emsp;Second cell</code>
        <h4>Full tables</h4>
        <p>If you need a more complex table than what the simple markup can create (for example, row or columns spans), you
            can use an HTML table. See <a href="#markup_tab_code" class="markup_linkToOtherPanes">HTML</a> below.</p>
    </div>
    <div class="tab-pane" id="markup_tab_code">
        <h4>HTML</h4>
        <p>You can embed HTML in wiki markup. With the HTML tags, text is parsed as wiki text.</p>
        <p>You need to <code>&lt;strike&gt;burn&lt;/strike&gt;</code> deprecate that node.</p>
        <p>For complex HTML, it can be cleaner to use a "pseudo-HTML" markup based on indentation.</p>
        <p>Lines ending with >> are treated as an HTML element tag, with any content indented under it treated as the HTML element
            content.
        </p>
        <code>table width="100%">></code><br>
        <code>&emsp;&emsp;tr&gt;&gt;</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;td colspan="2"&gt;&gt;</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Alpha</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;td&gt;&gt;</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Bravo</code><br>
        <code>&emsp;&emsp;tr&gt;&gt;</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;td&gt;&gt; Charlie</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;td&gt;&gt; Delta</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;td&gt;&gt; Echo</code><br>
        <h4>Code</h4>
        <p>Inline Code: Put text within backticks <code>`</code> to render it as code. Type <code>echo $HFS</code> in a shell.</p>
        <p>Code Blocks: Lines between <code>{{{</code> and <code>}}}</code> are treated as a block of code.</p>
        <p>If the first line starts with <code>#!</code> it specifies the syntax coloring to use. You can use any syntax names
            from the <a href="http://pygments.org">Pygments</a> library, as well as Houdini-specific languages <strong>hscript</strong>            and <strong>vex</strong>.</p>


    </div>
    <div class="tab-pane" id="markup_tab_organization">
        <h4>Dividers</h4>
        <p>A line with three or more tilde <code>~</code> characters creates a horizontal line. If you put text after the tildes
            it creates a labeled divider.</p>
        <p>Line Divider: <code>~~~~</code></p>
        <p>Line Divider with Text: <code>~~~ Or ~~~</code></p>
        <p>Line with Display STyle: </p>
        <code>~~~~</code><br>
        <code>&emsp;&emsp;#display: red</code>
        <h4>Boxes</h4>
        <code>:box:</code><br>
        <code>&emsp;&emsp;#display: raised</code><br>
        <code>&emsp;&emsp;This is content inside a box.</code>
        <ul>
            <li>
                <div class="markup_box_example markup_organization_rounded">rounded
                </div>
            </li>
            <li>
                <div class="markup_box_example markup_organization_bordered">bordered
                </div>
            </li>
            <li>
                <div class="markup_box_example markup_organization_raised">raised
                </div>
            </li>
            <li>
                <div class="markup_box_example markup_organization_inverted">inverted
                </div>
            </li>
        </ul>
        <h4>Captions</h4>
        <p>Adding text to a box block puts a small label on the content inside.</p>
        <code>:box: Decorator example</code><br>
        <code>&emsp;&emsp;{{{</code><br>
        <code>&emsp;&emsp;#!python</code><br>
        <code>&emsp;&emsp;@decorator</code><br>
        <code>&emsp;&emsp;def foo():</code><br>
        <code>&emsp;&emsp;&emsp;&emsp;return "bar"</code><br>
        <code>&emsp;&emsp;}}}</code>
        <h4>Columns</h4>
        <p>Columns adapt to the browser width. They will collapse into a single column when their container is narrow.</p>
        <code>:col:</code><br>
        <code>Column 1 paragraph 1</code><br>
        <code>Column 1 paragraph 2</code><br>
        <code>:col:</code><br>
        <code>Column 2 paragraph 1</code><br>
        <code>Column 2 paragraph 2</code>
        <h4>Tabs</h4>
        <code>:tab: Reality</code><br>
        <code>This is the real world.</code><br>
        <code>:tab: Fantasy</code><br>
        <code>This is the imaginary world.</code>
        <p>Tab Selected When the Page Loads: <code>#selected: true</code></p>
        <p>Display a Font Awesome Glyph in a Tab: <code>#glyph: font-awesome-name</code></p>
        <h4>Dividing blocks</h4>
        <p>If you use only two tildes <code>~~</code> it creates an "invisible" divider. This doesn’t render as a line, but
            breaks up groups of blocks of the same type. This is useful for when you have a series of <code>:tab:</code>            or <code>:col:</code> blocks and you want to separate them into different groups.</p>
        <code>:col:</code><br>
        <code>&emsp;&emsp;Left</code><br>
        <code>:col:</code><br>
        <code>&emsp;&emsp;Right</code><br>
        <code>~~</code><br>
        <code>:col:</code><br>
        <code>&emsp;&emsp;Left</code><br>
        <code>:col:</code><br>
        <code>&emsp;&emsp;Right</code>
        <h4>Bubbles(beta)</h4>
        <p>A bubble is a special box type that looks like a chat bubble.</p>
        <code>:bubble: He said _what_!?</code><br>
        <code>&emsp;&emsp;#dir: left</code><br>
        <code>&emsp;&emsp;#display: yellow</code><br>
        <code>:bubble:</code><br>
        <code>&emsp;&emsp;#dir: right</code><br>
        <code>&emsp;&emsp;#display: teal</code><br>
        <code>&emsp;&emsp;I know right!?</code><br>
        <code>&emsp;&emsp;Where does he get the nerve?</code><br><br>
        <code>#dir: direction</code><br>
        <code>#display: look</code>
        <p>&emsp;&emsp;Use to set the color of the bubble. See <a href="#markup_tab_display" class="markup_linkToOtherPanes">display properties</a>.</p>
        <h4>Footnotes(beta)</h4>
        <p>ou can hide extra text in a "footnote" called a <i>fold</i>. The <code>[Fold:name]</code> shortcut creates a button.
            If there is a <code>:box:</code> with a property <code>#fold: name</code> with the same name, clicking the button
            will reveal the box content.</p>
        <code>Everything you wanted to know about Houdini[Fold:1].</code><br>
        <code>&emsp;&emsp;:box:</code><br>
        <code>&emsp;&emsp;#fold: 1</code><br>
        <code>&emsp;&emsp;...but were afraid to ask</code>
        <p>You can refer to the same fold box using multiple shortcuts, as long as they have the same name as the box’s <code>#fold:property</code>.</p>
        <h4>Billboard(beta)</h4>
        <p>A large "cover" image with text over top, used to create a "splash" for introductory or table-of-contents pages.</p>
        <code>:billboard:Houdini 15.0</code><br>
        <code>&emsp;&emsp;#image: /images/billboards/zombie_flame_poster.jpg</code><br>
        <code>&emsp;&emsp;Procedural animation and effects</code>
    </div>
    <div class="tab-pane" id="markup_tab_display">
        <p>You can use a <code>#display: property</code> on the page and on various block types to modify how the block appears
            in HTML. The value is a space-separated list of class</p>
        <code>== Header ==</code><br>
        <code>#display: notitle collapsible inverted</code><br>
        <code>:tab: Tab 1</code><br>
        <code>&emsp;&emsp;#display: red</code><br>
        <code>&emsp;&emsp;Tab content.</code>
        <p><span class="glyphicon glyphicon-info-sign"></span>&emsp;&emsp;Many possible display values don’t work on all block
            types, or aren’t fully implemented, or may not work in all combinations.
        </p>
        <p>The following block types accept display properties in various forms:</p>
        <ul>
            <li>Page</li>
            <li>Tabs</li>
            <li>Headings</li>
            <li>Dividing Lines</li>
            <li>Columns</li>
            <li>Boxes</li>
            <li>Table Cells</li>
            <li>Bubbles</li>
        </ul>
        <h4>Value</h4>
        <p><code>notitle</code>: for a page or heading, hides the title.</p>
        <p><code>collapsible</code>: for a heading, allows the user to collapse and expand the content.</p>
        <p><code>pull <i>left|right</i></code>: for a heading, moves the title beside the body.</p>
        <p><code>inverted</code>: display the content as light-on-dark.</p>
        <p><code><i>colorname</i></code>: you can use the name of a color to colorize the block. Different block types may apply
            colors in different ways.<code>gray | blue | pink | red | green | yellow | purple | magenta | teal | orange | seafoam | white</code></p>
    </div>
    <div class="tab-pane" id="markup_tab_atsign">
        <h4>Overview</h4>
        <p>An @-section acts like a top-level heading. It marks a particular section of a page. Items within that section may
            be treated specially.</p>
        <p>For example, node help will have a "parameters" section:</p>
        <code>@parameters</code>
        <p>Within that section, anonymous items are treated as documenting a specific parameter:</p>
        <code>@parameters</code><br>
        <code>::Group:</code><br>
        <code>&emsp;&emsp;Specifies which elements this node applies to.</code>
        <p>This will be indexed and rendered differently than if you used an anonymous item block outside the @parameters section</p>
        <h4>Markup</h4>
        <p>An @-section looks like this:<code>@name Title</code></p>
        <p>If you don’t give a title, the heading will render using the name of the section capitalized (for example @parameters
            → Parameters).</p>
        <h4>Properties</h4>
        <code>#status: code</code>
        <ul>
            <li><code>nd</code> – not documented</li>
            <li><code>ni</code> - not implemented</li>
        </ul>
        <p>You can use <code>#display: properties</code> on sections just like headings.</p>
    </div>
    <div class="tab-pane" id="markup_tab_search">
        <p>The <code>:list:</code> block lets you show the results of search queries on the page.</p>
        <code>:list:</code><br>
        <code>#query: title:cap</code>
        <h4>Properties</h4>
        <p><code>#query: <i>search query</i></code>&emsp;A search query.</p>
        <p><code>#filtered: <i>yes|no</i></code>&emsp;If no, don’t show a filtering interface above the results.</p>
        <p><code>#filters: <i>field names</i></code>&emsp;A space separated list of search fields to allow the user to filter
            the results by.</p>
        <p><code>#sortedby: <i>field name</i></code>&emsp;The name of a field to sort the results by. Prefix the field name
            with a minus sign (-) to reverse the sorting order.</p>
        <p><code>#groupedby: <i>field name</i></code>&emsp;Group the results by the value of the given field.</p>
        <p>If you specify a <code>#groupedby: field</code>, you can also optionally specify a <code>#labels: path</code> property.
            This points to an .ini file on the server with a <code>[Labels]</code> section that maps field values to group
            labels.
        </p>
        <p><code>#includecontent: <i>true|false</i></code>&emsp;If true, includes the content of each matched document under
            the link. This can make your page very large, so be careful.</p>
        <p><code>#limit: <i>num</i></code>&emsp;Limit the search results to this number of hits.</p>
        <p><code>#display:</code></p>
        <p>&emsp;&emsp;<code>show-icons</code>&emsp;Displays icons for the search results that have them.</p>
        <p>&emsp;&emsp;<code>narrow-columns / columns / wide-columns</code>&emsp;Divides the results into columns.</p>
    </div>
    <div class="tab-pane" id="markup_tab_inheritance">
        <h4>Index Page</h4>
        <p>
            In a directory of wiki files, any file named _index.txt is treated as the "table of contents" page for the directory. If
            the user browses to the directory, the server shows the _index page. This is similar to index.html in a regular
            web server.</p>
        <h4>Subtopics</h4>
        <p>
            To link to "child" topics of the current "parent" page, create a <code>@subtopics</code> section.</p>
        <code>@subtopics</code><br>
        <code>::[Introduction to rendering|intro]</code><br>
        <code>::[Advanced rendering|advanced]</code>
        <p>The "child" links do not need to be in the same directory as the parent.</p>
        <p>You can use headings in the subtopics section to organize the links:</p>
        <code>@subtopics</code><br>
        <code>== Getting started ==</code><br>
        <code>::[Introduction to rendering|intro]</code><br>
        <code>::[Starting a basic render|basic]</code><br>
        <code>== Next steps ==</code><br>
        <code>::[Tuning for performance|tuning]</code>
        <h4>Parent Property</h4>
        <p>
            Each page displays "breadcrumbs" indicating the parents of the current page in the hierarchy. If the directory a page is
            in has an _index page, that is automatically treated as the parent page.</p>
        <p>If the directory doesn’t have an _index page, or you want to use a different parent, include a top-level #parent:
            property with the path to the parent page:</p>
        <code>= Title =</code><br>
        <code>#parent: /examples/</code>
    </div>
</div>